name: run-mywheels

on:
  schedule:
    - cron: "*/15 * * * *"   # elke 15 minuten
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests google-api-python-client google-auth google-auth-oauthlib google-auth-httplib2 openpyxl pandas

      - name: Run MyWheels availability script
        env:
          GOOGLE_APPLICATION_CREDENTIALS_JSON: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: |
          echo "$GOOGLE_APPLICATION_CREDENTIALS_JSON" > sa.json
          python main.py
