name: Test MyWheels API

on:
  workflow_dispatch: {}  # Handmatig starten

jobs:
  run-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests openpyxl

      - name: Run MyWheels fetch script
        run: python Lokaal_mywheels_fetch_all_cars.py
